*.dylib
*.o
*.os
*.pyc
*.so
*~
core.*
.sconf_temp
.sconsign.dblite
config.log
doc/doxygen.conf
doc/html
doc/xml
doc/*.tag
python/lsst/sphgeom/sphgeomLib.py
python/lsst/sphgeom/sphgeomLib_wrap.cc
python/lsst/sphgeom/version.py
tests/.tests/
tests/testAngleInterval
tests/testAngle
tests/testBigInteger
tests/testBox
tests/testBox3d
tests/testChunker
tests/testCircle
tests/testConvexPolygon
tests/testEllipse
tests/testInterval1d
tests/testLonLat
tests/testMatrix3d
tests/testNormalizedAngleInterval
tests/testNormalizedAngle
tests/testOrientation
tests/testUnitVector3d
tests/testVector3d
tests/.cache/*
tests/curveTest
tests/q3cTest
ups/*.cfgc
