*.dylib
*.o
*.os
*.pyc
*.so
*~
core.*
.sconf_temp
.sconsign.dblite
config.log
doc/doxygen.conf
doc/html
doc/xml
doc/*.tag
python/lsst/sphgeom/version.py
tests/.tests/
tests/AngleIntervalTest
tests/AngleTest
tests/BigIntegerTest
tests/BoxTest
tests/ChunkerTest
tests/CircleTest
tests/ConvexPolygonTest
tests/EllipseTest
tests/Interval1dTest
tests/LonLatTest
tests/Matrix3dTest
tests/NormalizedAngleIntervalTest
tests/NormalizedAngleTest
tests/OrientationTest
tests/UnitVector3dTest
tests/Vector3dTest
ups/*.cfgc
